<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    </head>
    <meta charset="utf-8">
    <title>Default Node</title>
</head>
<body>

    {{{body}}}

</body>
</html>